.container-full {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.col-10{
  padding: 0 !important;
}

.user-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 90%;
}

.conversation-list,.search-result-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
.conversation-header{
  height: 20%;
}

.message-body {
    display: flex;
    flex-direction: column;
    height: 80%;
    padding-bottom: 10px;
}

.message-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    padding: 0 10px 10px 10px;
}

.message-item {
    margin: 10px 0;
    width: fit-content;
    max-width: 70%;
}
.right-position{
  align-self: flex-end;

}.message-text{
  border-radius: 10px;
  padding: 10px;
}
.user-message{
  background: #84c7ff;
}
.friend-message{
  background: #f1f1f1;
}
.message-input {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: #fff;
    border-top: 1px solid #ccc;
}

textarea {
    resize: none;
    flex-grow: 1;
    margin-right: 10px;
}

.search-result-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-item {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.user-item:hover {
    background: #e6e6e631;
}
